@import url("umad.css");

@media (max-width: 1600px) {

body {
	margin: 0em;
}

ul#hits li {
	margin: 0.5em 0em;
}

/* Documents' other metadata appears in a position:absolute bubble */
.result-card .metadata-button .other-metadata {
	width: 16em;
	right: 2em;
	left: inherit;
}


} /* END MEDIA QUERY (max-width: 800px) */
